    body {  
        margin: 0;  
        overflow: hidden;  
        background-color: #333;  
    }  
    #bgBox {  
        height: 100%;  
        width: 100%;  
        margin: auto;  
        position: relative;  
        min-width: 1115px;  
        max-width: 1366px;  
        min-height: 599px;  
        max-height: 768px;  
    }  
    #bgDiv {  
        position: absolute;  
        top: 0;  
        overflow: hidden;  
        width: 100%;  
        height: 100%;  
        max-width: 1366px;  
        background-image: url("bg_blue.png");  
        background-repeat: no-repeat;  
        background-color: #666;  
        -webkit-background-size: cover;  
        -moz-background-size: cover;  
        -o-background-size: cover;  
        background-size: cover;  
    }  
    @media only screen and (min-height:806px) and (orientation:landscape), screen and (min-width:1433px) and (orientation:landscape) {  
        #bgBox, #bgDiv {  
            max-width: 1920px;  
            max-height: 1080px;  
        }  
    }  