.row-header {
	margin: 0px auto;
	padding: 0px auto;
}

.row-content {
	margin: 0px auto;
	padding: 30px 0px 20px 0px;
	/* border-bottom: 1px ridge;*/
	min-height: 400px;
}

.row-footer {
	background-color: #5c7ebd;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}

.jumbotron {
	padding: 20px 30px 20px 30px;
	margin: 0px auto;
	background: white;
	color: white;
}

address {
	font-size: 80%;
	margin: 0;
	color: #0f0f0f;
}

html,body {
	/*padding: 50px 0px 0px 0px;
	z-index: 0;
	 */
	padding:0;
	margin:0;
	height:100%
	
}

#wrapper{
	min-height: 100%;

height: auto !important;

height: 100%;
}

#footer {

position: relative;

margin-top: -40px;/*等于footer的高度*/

height: 40px;

clear:both;



}
#header {



}

.navbar-inverse {
	background: #5c7ebd;	
	top: 0;
    border-width: 0 0 1px;
 /*   position: fixed; */
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover,
	.navbar-inverse .navbar-nav>.active>a:focus {
	color: #fff;
	background: #5c7ebd;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,
	.navbar-inverse .navbar-nav>.open>a:focus {
	color: #fff;
	background: #5c7ebd;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a, .navbar-inverse .navbar-nav .open .dropdown-menu
	{
	background-color: #5c7ebd;
	color: #eeeeee;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
	color: #000000;
}

.tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

.affix {
	top: 100px;
}

.carousel {
	background: white;
}

.carousel .item {
	height: 300px;
}

.item img {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 300px;
}

.access-item {
	font-family: 'Arial Normal', 'Arial';
	font-size: 16px;
	color: red;
	margin: 0 auto;
	padding: 10px; text-align : center;
	cursor: pointer;
	text-align: center;
	overflow: hidden;
	white-space: nowrap; 
	height:70px;
}

.access-item:hover {
	font-size: 20px;
}

.access-item:hover a {
	text-decoration: none
}

.access-detail {
	font-family: 'Arial Normal', 'Arial';
	font-size: 16px;
	color: #5C7EBD;
	font-weight: 400;
	cursor: pointer;
}

.access-item-test {
	font-family: 'Arial Normal', 'Arial';
	font-size: 20px;
	color: #5C7EBD;
	/*padding-bottom: 10px;
padding-top: 10px;*/
	cursor: pointer;
	margin: 0 auto;
}
.result-item{
	padding:5px;
	margin:10px 20px 10px 0px;
}
.result-item-label{
	position: relative;
    overflow: hidden;
    width: auto;
    height: 55px;
    line-height: 30px;
    
}
.result-item-label:after{
    position: absolute;
    bottom: 0;
    right: 0;
    padding:0 5px 1px 45px;
    content: '...';            
    background:url(ellipsis_bg.png) repeat-y;
}
.hightlight{
	color:red;
	font-weight:500;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}